<a href="https://colab.research.google.com/github/Manikandan-professional/Miscellaneous/blob/main/G.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the Necessary packages required**

In [127]:
import pandas as pd #To Handle DataFrames
import numpy as np  #To Handle calculation with array
from datetime import date #To Handle Date
from sklearn.model_selection import train_test_split #To Split the train and test for training
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import seaborn as sns

# **Excel to DataFrame Conversion**

In [128]:
link_Dataset='https://raw.githubusercontent.com/Manikandan-professional/Miscellaneous/main/train.csv'
link_Dataset_csv=pd.read_csv(link_Dataset)
df=pd.DataFrame(link_Dataset_csv)
df

      PRT_ID        AREA  INT_SQFT  ... REG_FEE  COMMIS  SALES_PRICE
0     P03210  Karapakkam      1004  ...  380000  144400      7600000
1     P09411  Anna Nagar      1986  ...  760122  304049     21717770
2     P01812       Adyar       909  ...  421094   92114     13159200
3     P05346   Velachery      1855  ...  356321   77042      9630290
4     P06210  Karapakkam      1226  ...  237000   74063      7406250
...      ...         ...       ...  ...     ...     ...          ...
7104  P06508  Karapakkam       787  ...  425350  119098      8507000
7105  P09794   Velachery      1896  ...  349177   79812      9976480
7106  P09293     T Nagar      1973  ...  885666  116535     23307000
7107  P09021    Chrompet      1023  ...  282319   38941      9735150
7108  P04325    Chrompet       884  ...  283410   45346     11336400

[7109 rows x 22 columns]